@use "../../global" as g;

/*!
page > privacy > privacy
------------------------------
*/
.privacy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20rem;

  @include g.mq() {
    gap: 48rem;
  }
}

.privacy-title {
  font-size: 18rem;
  line-height: 1.45;
  letter-spacing: 0.05em;
  font-weight: bold;
  border-bottom: 2rem solid var(--bg-primary);
  padding-bottom: 8rem;
  margin-bottom: 16rem;
  display: block;

  @include g.mq() {
    font-size: 24rem;
    margin-bottom: 24rem;
  }
}

.privacy-list {
  margin-top: 16rem;
  padding-left: 15rem;

  @include g.mq() {
    padding-left: 20rem;
  }
}

.privacy-item {
  display: list-item;
  list-style-type: decimal;

  &::marker {
    font-weight: bold;
    color: var(--bg-primary);
  }
}

.privacy-link {
  color: var(--bg-primary);
  text-decoration: underline;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}
