@use "sass:map";

// global > breakpoint
// ------------------------------
$breakpoints: (
  "md": 768px,
);

@mixin mq($breakpoint: md) {
  @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}
