/*!
global > color
------------------------------
*/
:root {
  --bg-primary: #1e4aa4;
  --bg-light-grey: #eaecef;
  --bg-lightest-blue: #f5f8fb;
  --bg-darkblue: #222a38;
  --bg-white: #ffffff;
  --bg-white-transparent: rgba(255, 255, 255, 0.2);
  --text-base: #49515f;
  --text-primary: #1e4aa4;
  --text-white: #ffffff;
  --text-light-base: #9a9eac;
  --other-logo: #06235e;
  --other-logo: #e5ebf0;
  --other-link: #497fdf;
  --sep-lightgrey: #eeeeee;
  --border-white-20: rgb(255 255 255 / 0.2);
}
