@use "../global" as g;

/*!
utility > utility
------------------------------
*/
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

.u-ptb {
  padding: 80px 0 !important;

  @include g.mq() {
    padding: 120px 0 !important;
  }
}

.u-block {
  display: block !important;
}

.u-sp-block {
  display: block !important;

  @include g.mq() {
    display: inline-block !important;
  }
}

.u-mt-narrow {
  margin-top: 80px !important;
}
