@use "../global" as g;

/*!
layout > header
------------------------------
*/
.l-header {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  z-index: var(--z-index-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32rem;

  @include g.mq() {
    margin-top: 48rem;
  }
}

.l-header--page {
  margin-top: 40rem;

  @include g.mq() {
    margin-top: 45rem;
  }
}

.l-header-logo {
  width: 160rem;

  @include g.mq() {
    width: 247rem;
  }
}

.l-header-menu-open-button {
  @include g.mq() {
    display: none;
  }

  &.is-open {
    .l-header-menu-open-button-line-item {
      &:nth-child(1) {
        transform: translateY(8rem) rotate(26.57deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-8rem) rotate(-26.57deg);
      }
    }
  }
}

.l-header-menu-open-button-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  background-color: var(--bg-primary);
  border-radius: 100vh;
  width: 56rem;
  height: 56rem;
}

.l-header-menu-open-button-line-item {
  width: 32rem;
  height: 1rem;
  background-color: var(--bg-white);
  transition: transform 0.3s ease, opacity 0.3s ease;

  &:nth-child(1) {
    transform: translateY(0) rotate(0);
  }
  &:nth-child(2) {
    opacity: 1;
  }
  &:nth-child(3) {
    transform: translateY(0) rotate(0);
  }
}

.l-header-menu {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: var(--bg-primary);
  padding-block: 32rem 72rem;
  margin: 0;

  @include g.mq() {
    display: contents;
  }
}

.l-header-menu-inner {
  @include g.mq() {
    display: contents;
  }
}

.l-header-menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64rem;

  @include g.mq() {
    display: none;
  }
}

.l-header-menu-close-button-line {
  position: relative;
  display: block;
  border: 1rem solid var(--bg-white);
  border-radius: 100vh;
  width: 56rem;
  height: 56rem;
}

.l-header-menu-close-button-line-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36rem;
  height: 1rem;
  background-color: var(--bg-white);
  transition: all 0.3s ease;

  &:nth-child(1) {
    transform: translate(-50%, -50%) rotate(26.57deg);
  }

  &:nth-child(2) {
    opacity: 0;
  }

  &:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-26.57deg);
  }
}

.l-header-list {
  color: var(--text-white);
  width: 87%;

  &:first-of-type {
    border-top: 1rem solid var(--border-white-20);
  }

  @include g.mq() {
    display: flex;
    align-items: center;
    gap: 40rem;
    width: auto;

    &:first-of-type {
      border-top: none;
    }
  }
}

.l-header-list--page {
  @include g.mq() {
    color: var(--text-base);
  }
}

.l-header-item {
  display: flex;
  flex-direction: column;
  gap: 16rem;

  @include g.mq() {
    position: relative;
    display: block;
  }
}

.l-header-link {
  border-bottom: 1rem solid var(--border-white-20);
  padding: 20rem 16rem;
  font-size: 15rem;
  line-height: 1.45;
  display: flex;
  align-items: baseline;
  gap: 8rem;

  @include g.mq() {
    display: inline-block;
    transition: 0.3s;
    font-size: 16rem;
    border-bottom: none;
    padding: 0;
    font-size: 16rem;
    line-height: 1.9;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.l-header-link--page {
  @include g.mq() {
    margin-right: 31rem;
  }
}

.l-header-item-link-en {
  font-size: 24rem;
  font-family: var(--font-family-en);
  font-weight: 400;
  line-height: 1.16;

  @include g.mq() {
    display: none;
  }
}

.l-header-item-link-en--home {
  @include g.mq() {
    display: block;
    font-size: 16rem;
    padding-right: 0;
    font-family: var(--font-family-base);
  }
}

.l-header-item-link-jp--home {
  @include g.mq() {
    display: none;
  }
}

.l-header-item-link--business {
  @include g.mq() {
    display: flex;
    align-items: center;
    gap: 9rem;
  }

  &::after {
    @include g.mq() {
      content: "";
      display: block;
      background-image: url("/assets/img/layout/header/header-business-arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 9rem;
      height: 9rem;
    }
  }
}

.l-header-item-link--business--black {
  &::after {
    @include g.mq() {
      background-image: url("/assets/img/layout/header/header-business-arrow-black.svg");
    }
  }
}

.l-header-item-link--contact {
  @include g.mq() {
    color: var(--text-white);
    background-color: var(--bg-primary);
    padding: 12rem 32rem;
    width: 160rem;
    height: 54rem;
    display: grid;
    place-items: center;
    border-radius: 100vh;
    transition: 0.3s;

    @media (any-hover: hover) {
      &:hover {
        color: var(--bg-primary);
        background-color: var(--bg-white);
        outline: 1rem solid var(--bg-primary);
        opacity: 1;
      }
    }
  }
}

.l-header-business-detail {
  display: flex;
  flex-direction: column;
  gap: 16rem;

  @include g.mq() {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-53%);
    margin-top: 10rem;
    background-color: var(--text-primary);
    border-radius: 16rem;
    padding: 24rem 8rem;
    white-space: nowrap;

    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }
}

.l-header-business-detail-item {
  color: var(--bg-white);
  border-bottom: 1rem solid var(--border-white-20);
  font-size: 14rem;
  line-height: 1.45;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
  padding: 0 16rem 15rem 16rem;

  @include g.mq() {
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
        &::after {
          transform: translateX(4rem);
        }
      }
    }
  }

  &::after {
    content: "";
    display: block;
    width: 9rem;
    height: 9rem;
    background-image: url("/assets/img/common//button-arrow-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
  }
}
