@use "../global" as g;

/*!
component > post-news
------------------------------
*/

.c-post-news {
  border-bottom: 1rem solid var(--sep-lightgrey);
}

.c-post-news-info {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 0 16rem;

  @include g.mq() {
    display: grid;
    align-items: center;
    grid-template-columns: 120rem 1fr;
    gap: 16rem;
  }
}

.c-post-news-link {
  display: block;
  transition: 0.3s;
  padding-block: 20rem 19rem;

  @include g.mq() {
    display: inline-block;
    padding-block: 32rem 31rem;
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--bg-primary);
      opacity: 0.7;
    }
  }
}

.c-post-news-date {
  font-family: var(--font-family-en);
  font-size: 17rem;
  line-height: 1.16;
  font-weight: 400;
}
