@use "../../global" as g;

/*!
page > message > message
------------------------------
*/
.message-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32rem;

  @include g.mq() {
    grid-template-columns: 400rem 1fr;
    gap: 56rem;
  }
}

.message-title {
  font-size: 28rem;
  line-height: 1.45;
  letter-spacing: 0.05em;

  @include g.mq() {
    font-size: 32rem;
  }

  & :first-child {
    color: var(--text-primary);
  }
}

.message-text {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  margin-top: 16rem;

  @include g.mq() {
    margin-top: 24rem;
  }
}

.message-info {
  margin-top: 32rem;

  @include g.mq() {
    margin-top: 40rem;
  }
}

.message-name {
  font-size: 28rem;
  line-height: 1.45;
  letter-spacing: 0.05em;

  @include g.mq() {
    font-size: 32rem;
  }
}
