@use '../global' as g;

/*!
layout > header
------------------------------
*/
.l-header {
  position: relative;
  z-index: var(--z-index-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
}

.l-header-logo {
  width: 160px;

  @include g.mq() {
    width: 247px;
  }
}

.l-header-nav {
}

.l-header-list {
  @include g.mq() {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.l-header-item {
  color: var(--text-white);
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      .l-header-business-detail {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.l-header-link {
  @include g.mq() {
    display: inline-block;
    transition: 0.3;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.l-header-item-link-en {
  @include g.mq() {
    display: none;
  }
}

.l-header-item-link-en--home {
  @include g.mq() {
    display: block;
  }
}

.l-header-item-link-jp--home {
  @include g.mq() {
    display: none;
  }
}

.l-header-item-link--business {
  pointer-events: none;
  cursor: default;

  @include g.mq() {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  &::after {
    @include g.mq() {
      content: '';
      display: block;
      background-image: url('../img/layout/header/header-business-arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 9px;
      height: 9px;
    }
  }
}

.l-header-item-link--contact {
  @include g.mq() {
    background-color: var(--bg-primary);
    padding: 12px 32px;
    border-radius: 100vh;
    transition: 0.3s;
  }
  @media (any-hover: hover) {
    &:hover {
      color: var(--bg-primary);
      background-color: var(--bg-white);
      opacity: 1;
    }
  }
}

.l-header-business-detail {
  @include g.mq() {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    transition-delay: 0.2s;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-53%);
    background-color: var(--text-primary);
    border-radius: 16px;
    padding: 24px 8px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.l-header-business-detail-item {
  @include g.mq() {
    border-bottom: 1px solid var(--border-white-20);
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.05em;
    padding: 0 16px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &::after {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    background-image: url('../img/layout/header/header-business-detail-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
  }

  &:last-of-type {
    @include g.mq() {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        transform: translateX(4px);
      }
    }
  }
}
