@use "../global" as g;

/*!
component > contact
------------------------------
*/
.c-contact-inner {
  padding-block: 88rem 56rem;
  background-color: var(--bg-lightest-blue);
  border-radius: 32rem 32rem 0 0;
  position: relative;

  @include g.mq() {
    padding-block: 134rem 86rem;
    border-radius: 56rem 56rem 0 0;
  }
}

.c-contact-bg-slider {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  pointer-events: none;

  .splide__slide {
    font-family: var(--font-family-en);
    font-size: 120rem;
    color: var(--bg-primary);
    opacity: 0.07;
    line-height: 1.16;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

    @include g.mq() {
      font-size: 176rem;
    }
  }
}

.c-contact-circle {
  display: grid;
  place-items: center;
  width: 240rem;
  height: 240rem;
  border-radius: 50%;
  border: 1rem solid var(--bg-primary);
  margin-inline: auto;

  @include g.mq() {
    width: 308rem;
    height: 308rem;
  }
}

.c-contact-link {
  display: grid;
  place-items: center;
  width: 218rem;
  height: 218rem;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: var(--bg-contact);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg-contact-hover);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: var(--z-index-background);
  }

  @include g.mq() {
    width: 280rem;
    height: 280rem;
    @media (any-hover: hover) {
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
