@use "../global" as g;

/*!
component > post-product
------------------------------
*/
.c-post-product-link {
  @include g.mq() {
    @media (any-hover: hover) {
      &:hover {
        img {
          scale: 1.02;
        }
      }
    }
  }
}

.c-post-product-image {
  aspect-ratio: 300 / 200;
  object-fit: cover;
  border-radius: 0 0 0 32rem;
  overflow: hidden;
  transition: scale 0.3s;

  @include g.mq() {
    aspect-ratio: 404 / 269;
  }
}

.c-post-product-image--list {
  border: 1rem solid var(--border-product-item);
}

.c-post-product-category {
  margin-top: 16rem;
  border: 1rem solid var(--text-white);
  padding: 1rem 7rem;
  font-size: 16rem;
  line-height: 1.5;
  border-radius: 16rem;
  display: inline-block;
}

.c-post-product-category--list {
  margin-top: 8rem;
  border: 1rem solid var(--text-base);
  font-size: 13rem;
  line-height: 1.45;

  @include g.mq() {
    margin-top: 16rem;
    font-size: 16rem;
    line-height: 1.5;
  }
}

.c-post-product-title {
  margin-top: 8rem;
  font-size: 18rem;
  line-height: 1.45;
  letter-spacing: 0.05em;

  @include g.mq() {
    font-size: 20rem;
  }
}

.c-post-product-title-list {
  margin-top: 4rem;
  font-size: 15rem;
  line-height: 1.45;

  @include g.mq() {
    margin-top: 8rem;
    font-size: 20rem;
    line-height: 1.45;
    letter-spacing: 0.05em;
  }
}
