@use "../global" as g;

/*!
component > table
------------------------------
*/
.c-table {
  margin-top: 56rem;
}

.c-table--company {
  margin-top: 40rem;

  @include g.mq() {
    margin-top: 56rem;
  }
}

.c-table-body {
  border-bottom: 1rem solid var(--border-table);
}

.c-table-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  border-top: 1rem solid var(--border-table);
  padding: 24rem 0 23rem 0;

  @include g.mq() {
    grid-template-columns: 160rem 1fr;
    gap: 0;
    border-top: 0;
    padding: 0;
  }
}

.c-table-header {
  font-weight: bold;
  line-height: 1.45;

  @include g.mq() {
    border-top: 1rem solid var(--border-table);
    padding: 32rem 0;
  }
}

.c-table-data {
  @include g.mq() {
    border-top: 1rem solid var(--border-table);
    padding: 31rem 0;
  }
}

.c-table-data--address {
  font-size: 16rem;
  line-height: 1.5;

  @include g.mq() {
    line-height: 1.9;
  }
}

.c-table-list {
  list-style: disc;
  padding-left: 1.5em;
}

.c-table-link-tel {
  transition: 0.3s;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}
