@use "../../global" as g;

/*!
page > top > top-news
------------------------------
*/
.top-news {
  background-color: var(--bg-white);
  padding: 63rem 20rem;
  border-radius: 32rem 0 0 0;
  transform: translateY(-32rem);
  width: 95%;
  margin-left: auto;

  @include g.mq() {
    padding: 63rem 80rem;
    border-radius: 56rem 0 0 0;
  }
}

.top-news-inner {
  display: flex;
  flex-direction: column;
  gap: 40rem;

  @include g.mq() {
    display: grid;
    grid-template-columns: 280rem 1fr;
    gap: 0;
  }
}

.top-news-title-wrap {
  display: contents;

  @include g.mq() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50rem;
  }
}

.top-news-button {
  order: 3;
  align-self: flex-end;

  @include g.mq() {
    align-self: auto;
  }
}

.top-news-button-link {
  background-color: var(--bg-lightest-blue);
  padding: 16rem 24rem;
  border-radius: 100vh;
  display: inline-flex;
  gap: 53rem;
  align-items: center;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  font-size: 16rem;
  line-height: 1.15;
  font-family: var(--font-family-en);

  &::after {
    content: "";
    display: block;
    background-image: url("../img/common/button-arrow-blue.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 12rem;
    height: 11rem;
    transition: transform 0.3s ease;
  }

  @include g.mq() {
    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
        &::after {
          transform: translateX(4rem);
        }
      }
    }
  }
}
