@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/
.top-kv {
  position: relative;
  height: 680rem;
  overflow: hidden;

  @include g.mq() {
    height: 800rem;
  }

  & .splide__slide img {
    width: 100%;
    height: 680rem;
    object-fit: cover;

    @include g.mq() {
      height: 800rem;
    }
  }
}

.top-kv-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 104rem;
}

.top-kv-title {
  color: var(--text-white);
}

.top-kv-jp {
  font-size: 30rem;
  line-height: normal;
  margin-bottom: 8rem;

  @include g.mq() {
    font-size: 55rem;
    margin-bottom: 24rem;
  }
}

.top-kv-en {
  font-family: var(--font-family-en);
  opacity: 0.68;
  font-size: 18rem;
  line-height: 1.5;
  letter-spacing: 0.05em;

  @include g.mq() {
    font-size: 20rem;
    line-height: 1.7;
  }
}

.top-kv-circle {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 104rem;
  height: 104rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 2rem solid color-mix(in srgb, var(--bg-white) 25%, transparent);
    border-top: 2rem solid var(--bg-white);
    animation: rotateCircleOnly 10s linear infinite;
  }
  @include g.mq() {
    bottom: 0;
    left: 100%;
    translate: -100%;
    width: 146rem;
    height: 146rem;
    margin-bottom: 0;
  }
}

.top-kv-circle-num {
  position: relative;
  font-family: var(--font-family-en);
  font-size: 26rem;
  color: var(--text-white);
  letter-spacing: 0.05em;

  @include g.mq() {
    font-size: 36rem;
  }
}

@keyframes rotateCircleOnly {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
