@use "../../global" as g;

/*!
page > top > top-news
------------------------------
*/
.top-news {
  background-color: var(--bg-white);
  padding: 63rem 20rem;
  border-radius: 32rem 0 0 0;
  transform: translateY(-32rem);
  width: 95%;
  margin-left: auto;

  @include g.mq() {
    padding: 63rem 80rem;
    border-radius: 56rem 0 0 0;
  }
}

.top-news-inner {
  display: flex;
  flex-direction: column;
  gap: 40rem;

  @include g.mq() {
    display: grid;
    grid-template-columns: 280rem 1fr;
    gap: 0;
  }
}

.top-news-title-wrap {
  display: contents;

  @include g.mq() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50rem;
  }
}

.top-news-button {
  order: 3;
  align-self: flex-end;

  @include g.mq() {
    align-self: auto;
  }
}
