@use "../../global" as g;

/*!
page > access > access
------------------------------
*/
.access-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40rem;

  @include g.mq() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 72rem 40rem;
    border-bottom: none;
    padding-bottom: none;
  }
}

.access-block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16rem;
  border-bottom: 1rem solid var(--border-access);
  padding-bottom: 40rem;

  @include g.mq() {
    border-bottom: none;
    padding-bottom: 0;
  }

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.access-block--primary {
  @include g.mq() {
    grid-template-columns: repeat(2, auto);
    align-items: end;
    justify-content: space-between;
    gap: 24rem;
    grid-column: 1 / 3;
  }
}

.access-text {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.access-text--primary {
  @include g.mq() {
    gap: 11rem;
  }
}

.access-title {
  font-size: 20rem;
  line-height: 1.5;
  letter-spacing: 0.05em;

  @include g.mq() {
    font-size: 24rem;
    line-height: 1.45;
  }
}

.access-address {
  @include g.mq() {
    line-height: 1.5;
  }
}

.access-map {
  width: 100%;
  height: 226rem;
  border-radius: 0 0 0 32rem;
  overflow: hidden;

  @include g.mq() {
    height: 320rem;
    border-radius: 0 0 0 56rem;
  }
}

.access-map--primary {
  @include g.mq() {
    height: 408rem;
    grid-column: 1 / 3;
  }
}
