@use '../global' as g;

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.9;
  font-size: 15px;
  color: var(--text-base);
  font-family: var(--font-family-base);

  @include g.mq() {
    font-size: 16px;
  }
}
