@use "../../global" as g;

/*!
page > top > top-product
------------------------------
*/
.top-product {
  background-image: url("../img/top/product/product-background-sp.png");
  background-size: cover;
  background-position: center;
  padding: 88rem 0 88rem 20rem;
  width: 100%;
  height: 923rem;

  @include g.mq() {
    background-image: url("../img/top/product/product-background-pc.png");
    height: 900rem;
    padding: 88rem 0 88rem 70rem;
  }

  & .splide__arrow {
    position: static;
    transform: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 64rem;
    height: 64rem;
    transition: 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--bg-white-transparent);
      }
    }

    & svg,
    .u-visually-hidden {
      display: none;
    }

    &--prev {
      background-image: url("../img/top/product/product-arrow-left.svg");
    }

    &--next {
      background-image: url("../img/top/product/product-arrow-right.svg");
    }
  }
}

.top-product-text {
  margin-top: 8rem;
  font-size: 28rem;
  line-height: 1.45;
  letter-spacing: 0.05em;
  color: var(--text-white);

  @include g.mq() {
    margin-top: 16rem;
    font-size: 32rem;
  }
}

.top-product-splide {
  display: flex;
  flex-direction: column;

  @include g.mq() {
    display: contents;
  }
}

.top-product-about {
  color: var(--text-white);
  display: contents;

  @include g.mq() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 40rem 56rem;
  }
}

.top-product-text02 {
  margin-block: 40rem;
  margin-right: 20rem;

  @include g.mq() {
    margin-block: 0;
    margin-right: 0;
  }
}

.top-product-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24rem;
  order: 3;
  margin-top: 32rem;
  margin-right: 20rem;

  @include g.mq() {
    margin-top: 0;
    margin-right: 70rem;
    gap: 32rem;
  }
}

.top-product-list {
  color: var(--text-white);
}

.top-product-button {
  display: grid;
  place-items: center;
  margin-top: 40rem;
  margin-right: 20rem;

  @include g.mq() {
    margin-top: 64rem;
    margin-right: 70rem;
  }
}

.top-product-button-link {
  background-color: var(--bg-white-transparent);
  color: var(--text-white);
  border: 1rem solid var(--bg-white);
  padding: 24rem 32rem;
  border-radius: 100vh;
  font-family: var(--font-family-en);
  font-size: 18rem;
  line-height: 1.17;
  font-weight: 400;
  display: flex;
  gap: 95rem;
  align-items: center;
  transition: background-color 0.3s ease, opacity 0.3s ease;

  &::after {
    content: "";
    display: block;
    background-image: url("../img/common/button-arrow-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 12rem;
    height: 11rem;
    transition: transform 0.3s ease;
  }

  @include g.mq() {
    gap: 98rem;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
        &::after {
          transform: translateX(4rem);
        }
      }
    }
  }
}
